button {
    height: 50px;
    width: 140px;
    border-color: $smoky-black;
    position: relative;
    color: $smoky-black;
    font-family: $raleway;
    background-color: $an-white;
    font-weight: $bold;
    font-size: $medium;
    top: 5%;

}