.footer {
    grid-area: footer;
    background-color: black;
}

h3 {
    font-family: $old-standart;
    font-size: $x-large;
}

.container__form {
    color: $an-white;
    font-family: $old-standart;
    width: 350px;
    height: 135px;
}


label,
input {
    display: block;
}

input {
    width: 250px;
    height: 20px;
}