.footer {
    grid-area: footer;
    background-color: black;
}

h3 {
    font-family: $old-standart;
    font-size: $x-large;
}

.container__form {
    position: relative;
    color: $an-white;
    font-family: $old-standart;
    top: 10px;
    left: 40px;
}


label,
input {
    display: block;
}

input {
    width: 200px;
    height: 20px;
}

p {
    position: relative;
    color: $smoky-black;
    left: 10em;
}