.main {
    grid-area: main;
    background-color: $an-white;
}

.container__main {
    margin-top: 5%;
    margin-bottom: 5%;
}

h1 {
    font-family: $old-standart;
    font-size: $xxx-large;
    font-weight: $bold;
    margin-bottom: 10px;
}

.text_main {
    margin: 0;
    font-family: $raleway;
    color: $granite-gray;
}